* {
  margin: 0;
  padding: 0;
  font-family: Lato; /* Fonten skal linkes på en anden måde */
}

/* TOP W. TITLE */
.top {
  height: 8.56vh;
  width: 100%;
  background-color: #2B2B2B;
}
.arrowback {
  padding-top: 25px;
  padding-left: 25px;
}

.top h2 {
  top: 6vh;
}

h2 {
  color: #FDFFFC;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* TOP W. TITLE END */

/* NAVIGATIONS BAR */
nav {
  width: 100%;
  position: fixed;
  bottom: 0px;
  height: 9vh;
  background-color: #2B2B2B;
}

.navFlex {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1.5vh;
}

.line1, .line2, .line3 { /* The three lines in a burger menu */
  z-index: 1;
  width: 25px;
  height: 3px;
  background-color: #ffffff;
  margin: 6px 0;
  transition: 0.4s;
}
.change .line1 { /* First line in burger menu is rotatet */
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
  transform: rotate(-45deg) translate(-5px, 6px);
}
.change .line2 { /* Second line in burger menu is gone */
  opacity: 0;
}
.change .line3 { /* Threed line in burger menu is rotatet */
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

/* FOLD UD SIDENAV */
.sidenav {
  height: 82.55vh;
  width: 70%;
  position: fixed;
  top: 8.55vh;
  z-index: 1;
  right: 0;
  background-color: #2B2B2B;
  overflow-x: hidden;
  transition: 0.5s;
  transform: translateX(100%);
}
.sidenav.active {
  transform: translateX(0%);
  background-color: #2B2B2B;
}
.sidenav a {
  padding: 10px;
  margin-left: 50px;
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.toptext {
  display: block;
}

.middletext{
  justify-content: center;
}

.bottomtext{
  position: fixed;
  bottom: 3vh;
}

/* Plus sign */
.line4 {
  position: relative;
  width: 3px;
  height: 25px;
  left: 49%;
  background-color: #ffffff;
}
.line5{
  position: relative;
  width: 25px;
  height: 3px;
  top: -51%;
  background-color: #ffffff;
}
.plus{
  width: 25px;
  height: 25px;
}

.home img {
  width: 25px;
  height: 25px;
}

/* LOGIN SECTION */
.loginback {
  width: 100%;
  height: 100vh;
  color: #ffffff;
  background: linear-gradient(-45deg, #000000, #000000, #313131, #646262, #938E8E);
  background-size: 400% 400%;
  position: relative;
  animation: change 7s ease-in-out infinite;
}

@keyframes change {
  0%{
    background-position: 0 50%
  }
  50%{
    background-position: 50% 90%
  }
  100%{
    background-position: 0 50%
  }
}
/* LOGIN SECTION END */

/* SIGN UP SECTION */
.signup_top {
    height: 20vh;
}

.signup_top h1 {
  text-align: center;
  padding: 10px 0px;
  font-size: 32px;
}

.signup_top img {
  max-width: 100%;
  max-height: 100%;
}

#logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 10px auto;
}

#profilePicture {
  display: block;
  margin: 10px auto;
  width: 50px;
  height: 50px;
  border: 5px solid #000000;
  border-radius: 5px;
}

.signup_content {
  display: block;
  margin: 15% auto 15% auto;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  display: block;
  width: 200px;
  margin: 0px 0px  10px 0px ;
  border: 3px solid #000000;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
}

label {
  margin: 5px 5px 0px 5px;
  padding: 5px;
}

.signup_bottom {
  position: absolute;
  bottom: 0vh;
  left: 50vw;
  transform: translateX(-50%);
  margin: auto auto 10vh auto;
  text-align: center;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}

a:active {
  color: white;
  text-decoration: none;
}

#forgotPassword {
  color: #B5B5B5;
}

.button {
    padding: 10px 5vw;
    background-color: #b5b5b5;
    border: 1px solid #000000;
    border-radius:25px;
}
/* SIGN UP SECTION END */


/* FAQ / HELP SECTION */
.faqLine {
  font-size: 32px;
  font-weight: bold;
  padding: 10px;
  display: flex;
  justify-content: center;
  width: 355px;
  overflow: hidden;
}
.collapsible {
  display: flex;
  flex-direction: column;
  background-color: #D8D8D8; /* Lysegrå */
  color: #000000; /* Sort */
  cursor: pointer;
  padding: 15px 18px 15px 18px;
  width: 375px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #808080; /* Mellemgrå */
  color: #FFFFFF; /* Hvid */
}

.content {
  padding: 10px 10px;
  display: none;
  overflow-x: hidden;
  background-color: #FFFFFF; /* Hvid */
  width: 350px;
}

.arrowfaq {
  padding: -10px 5px 8px 10px;
}
/* FAQ / HELP SECTION END */

/* KEY CARD */

.newaddkey {
  height: 25vh;
  width: 90vw;
  margin-top: 3vh;
  border-radius: 30px;
  background-color: #D8D8D8;
  border: 3px dashed #808080;
}

.keycard {
  height: 25vh;
  width: 90vw;
}

/* KEY CARD END*/
