* {
  margin: 0;
  padding: 0;
}

/* SIGN UP SECTION */
.signup_wrapper h1 {
  text-align: center;
  margin: 10px 0px;
}

#profilePicture {
  display: block;
  margin: 10px auto;
  width: 50px;
  height: 50px;
  border: 5px solid #000000;
  border-radius: 15px;
  /* shadow */
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  display: block;
  width: 200px;
  margin: 0px 0px  10px 0px ;
  border: 3px solid #0549FF;
  border-radius: 25px;
  padding: 5px;
  text-align: center;
}

label {
  margin: 5px 5px 0px 5px;
}

#signupButton {
    padding: 5px;
    background-color: #0549FF;
    border: 1px solid #000000;
    border-radius:25px;
}
/* SIGN UP SECTION END */
