* {
  margin: 0;
  padding: 0;
  font-family: Lato; /* Fonten skal linkes på en anden måde */
}

/* TOP W. TITLE */
.top {
  height: 70px;
  width: 375px;
  background-color: #2B2B2B; 
}
.arrowback {
  padding-top: 25px;
  padding-left: 25px;
}
h2 {
  color: #FDFFFC;
  font-size: 18px;
  font-weight: 400;
  display: block;
  text-align: center;
}

/* TOP W. TITLE END */

/* NAVIGATIONS BAR */
nav {
  width: 100%;
  position: fixed;
  bottom: 0px;
  height: 9vh;
  background-color: #2B2B2B;
}

.navFlex {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1.5vh;
}

.line1, .line2, .line3 { /* The three lines in a burger menu */
  z-index: 1;
  width: 25px;
  height: 3px;
  background-color: #ffffff;
  margin: 6px 0;
  transition: 0.4s;
}
.change .line1 { /* First line in burger menu is rotatet */
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
  transform: rotate(-45deg) translate(-5px, 6px);
}
.change .line2 { /* Second line in burger menu is gone */
  opacity: 0;
}
.change .line3 { /* Threed line in burger menu is rotatet */
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

/* FOLD UD SIDENAV */
.sidenav {
  height: 92vh;
  width: 70%;
  position: fixed;
  top: 0px;
  z-index: 1;
  right: 0;
  background-color: #2B2B2B;
  overflow-x: hidden;
  transition: 0.5s;
  transform: translateX(100%);
}
.sidenav.active {
  transform: translateX(0%);
  background-color: #2B2B2B;
}
.sidenav a {
  padding: 12px;
  margin-left: 50px;
  text-decoration: none;
  font-size: 23px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}
.bottomtext{
  position: fixed;
  bottom: 12px;
}

/* Plus sign */
.line4 {
  position: relative;
  width: 3px;
  height: 25px;
  left: 50%;
  background-color: #ffffff;
}
.line5{
  position: relative;
  width: 25px;
  height: 3px;
  top: -50%;
  background-color: #ffffff;
}
.plus{
  width: 25px;
  height: 25px;
}

/* LOGIN SECTION */
.loginback {
  width: 100%;
  height: 100vh;
  color: #ffffff;
  background: linear-gradient(-45deg, #000000, #000000, #313131, #646262, #938E8E);
  background-size: 400% 400%;
  position: relative;
  animation: change 7s ease-in-out infinite;
}

@keyframes change {
  0%{
    background-position: 0 50%
  }
  50%{
    background-position: 50% 90%
  }
  100%{
    background-position: 0 50%
  }
}

/* SIGN UP SECTION */
.signup_wrapper h1 {
  text-align: center;
  margin: 10px 0px;
}

#profilePicture {
  display: block;
  margin: 10px auto;
  width: 50px;
  height: 50px;
  border: 5px solid #000000;
  border-radius: 15px;
  /* shadow */
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  display: block;
  width: 200px;
  margin: 0px 0px  10px 0px ;
  border: 3px solid #0549FF;
  border-radius: 25px;
  padding: 5px;
  text-align: center;
}

label {
  margin: 5px 5px 0px 5px;
}

#signupButton {
    padding: 5px;
    background-color: #0549FF;
    border: 1px solid #000000;
    border-radius:25px;
}
/* SIGN UP SECTION END */


/* FAQ / HELP SECTION */
.faqLine {
  font-size: 32px;
  font-weight: bold;
  padding: 10px;
  display: flex;
  justify-content: center;
  width: 355px;
  overflow: hidden;
}
.collapsible {
  display: flex;
  flex-direction: column;
  background-color: #D8D8D8; /* Lysegrå */
  color: #000000; /* Sort */
  cursor: pointer;
  padding: 10px 18px 0 18px;
  width: 375px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #808080; /* Mellemgrå */
  color: #FFFFFF; /* Hvid */
}

.content {
  padding: 10px 10px;
  display: none;
  overflow-x: hidden;
  background-color: #FFFFFF; /* Hvid */
  width: 350px;
}

.arrowfaq {
  padding: -10px 5px 8px 10px;
}
/* FAQ / HELP SECTION END */
